<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.labtestapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo1"
        android:supportsRtl="true"
        android:theme="@style/Theme.LabTestApplication"
        android:usesCleartextTraffic="true">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginAct"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity
            android:name=".LoginAct"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.LabTestApplication.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity
            android:name=".AddUserPopupAct"
            android:theme="@style/Theme.LabTestApplication.PopMe" />
        <activity
            android:name=".BookTestAct"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity android:name=".PathologyDetailsActivity" />
        <activity
            android:name=".PathologyRegister"
            android:parentActivityName=".PathologyLogin"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity
            android:name=".PathologyLogin"
            android:parentActivityName=".LoginAct"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity android:name=".UploadDownloadReports"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity android:name=".ForgetPasswordAct"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
    </application>

</manifest>